.button {
    -fx-background-color: #d0d0d0;
    -fx-border-color: #ababab;
    -fx-border-width: 1;
}

.button:pressed {
    -fx-background-color: #bebebe;
}

/* Header */
#header-box {
    -fx-background-color: #e3e3e3;
}