/* Dark background with angular corners */

.root {
    -fx-background-color: #2d2d2d;
}

.label {
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: #464646;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

/* Button global */
.button {
    -fx-background-color: #3b3b3b;
    -fx-border-color: #464646;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: #464646;
}

/* Header */
#header-box {
    -fx-background-color: #464646;
    -fx-background-radius: 0;
}