/* Light background with angular corners */

.root {
    -fx-background-color: #f3f3f3;
}

.label {
    -fx-text-fill: black;
}

.text-field {
    -fx-background-color: #e3e3e3;
    -fx-background-radius: 0;
    -fx-text-fill: black;
}

.scroll-pane {
    -fx-background-color: #f3f3f3;
    -fx-background-insets: 0;
}

.scroll-pane .viewport {
    -fx-background-color: #f3f3f3;
}

.scroll-bar:vertical .thumb {
    -fx-background-radius: 0;
    -fx-background-color: #bebebe;
}

.scroll-bar:vertical .track {
    -fx-background-color: #f3f3f3;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-padding: 0.0 0.15em;
}

/* Button global */
.button {
    -fx-background-color: #d0d0d0;
    -fx-border-color: #ababab;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-text-fill: black;
}

.button:pressed {
    -fx-background-color: #bebebe;
}

/* Header */
#header-box {
    -fx-background-color: #e3e3e3;
    -fx-border-radius: 0;
}