/* Dark background with rounded corners */

.root {
    -fx-background-color: #2d2d2d;
}

.label {
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: #464646;
    -fx-background-radius: 5;
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background-color: #2d2d2d;
    -fx-background-insets: 0;
}

.scroll-pane .viewport {
    -fx-background-color: #2d2d2d;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #7e7e7e;
}

.scroll-bar:vertical .track {
    -fx-background-color: #2d2d2d;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-padding: 0.0 0.15em;
}

/* Button global */
.button {
    -fx-background-color: #3b3b3b;
    -fx-border-color: #464646;
    -fx-background-radius: 5;
    -fx-border-width: 0;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: #464646;
}

/* Header */
#header-box {
    -fx-background-color: #464646;
    -fx-background-radius: 5;
}